<h1>{{title}}</h1>
<p>{{login_message}}</p>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/programs" routerLinkActive="active">Create program</a>
  <a routerLink="/exercises" routerLinkActive="active">Add exercises</a>
  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/login" *ngIf="logged_out" routerLinkActive="active">Login</a>
  <a (click)="logout()" *ngIf="!logged_out">Logout</a>
</nav>
<router-outlet (logged_in)="update($event);"></router-outlet>
